=== fx-forwarder Config Vars
REDISTOGO_URL = redis://redistogo:8f34db895dabc0f3b7038ee851350b71@soapfish.redistogo.com:9632/
SESSION = '1BJWap1sBu4FuwqcAt0Fdv4cbs-Ie-18gHuWzBAsiFUeEk9A-Tzux9L3b2NmRvjoPxc37Q9Am6KCRL6YiaAjV-mIGKVK5T7yawcV0nMGgZCBMGGebb3cUDy587B9uVKyrFPkPBfNuG5_sGbxxO82zvCttkklSEYqol4YVROjYo0hupNWHP05qXn-NDAbFN_-3WyIB7I1K80LVEt_ebDCRf4mG-924zt8mcy1DPEpE7dB9R1dxVi7HSVdH1c5hxW_jgP01XlcrKiJmsjg-ynzIMLAAP8Wmm1UAFF3YDRrlF0kUuwfKOsrAttCheQOHTFHrQdow4ZrqfuZ5kO3alN1TcNuTD9zrhc4='
API_HASH = f36c296645a468c16a698ecb1e59e31b
API_ID = 1271225
CHATINPUT = -562396701

CHATOUTPUT = https://t.me/testcasechannel2

REDISTOGO_URL=redis://redistogo:45e83112c5f5933d792b5b6b42c3f6a6@scat.redistogo.com:11427/

