certifi==2020.12.5
chardet==4.0.0
idna==2.10
pyaes==1.6.1
pyasn1==0.4.8
pyTelegramBotAPI==3.7.6
python-dotenv==0.15.0
requests==2.25.1
rsa==4.7
Telethon==1.19.0
urllib3==1.26.2
certifi==2020.12.5
chardet==4.0.0
idna==2.10
pyaes==1.6.1
pyasn1==0.4.8
pyTelegramBotAPI==3.7.6
python-dotenv==0.15.0
redis==3.5.3
requests==2.25.1
rsa==4.7
Telethon==1.19.0
urllib3==1.26.2
